@{
    ViewBag.Title = "Home Page";
}


<h4>Upload File With DropZone</h4>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="dZUpload" class="dropzone">
        <div class="dz-default dz-message"></div>
    </div>
    <a href="javascript:;" id="btnSubmit" class="btn btn-primary">Upload</a>
}


@section scripts{
    <script>
        Dropzone.autoDiscover = false;
        $(document).ready(function () {
            var token = $('input[name="_RequestVerficationToken"]').val();
            var UrlUpload = "/Home/SaveUploadFile?CategoryId=1";
            var myDropzone = new Dropzone("#dZUpload", {
                url: UrlUpload,
                headers: { "_RequestVerficationToken": token },
                maxFiles: 20,
                addRemoveLinks: true,
                maxFilesize: 1,
                acceptedFiles: "image/jpeg, image/jpg, image/png",
                autoProcessQueue: false,
                parallelUploads: 1,
                init: function () {
                    var startUpload = document.getElementById('btnSubmit');
                    var myDropzone = this;
                    startUpload.addEventListener("click", function () {
                        myDropzone.processQueue();
                    });

                    this.on("processing", function (file) {
                        myDropzone.options.url = "/Home/SaveUploadFile?CategoryId=1";
                    });

                    this.on("success", function () {
                        myDropzone.options.autoProcessQueue = true;
                    });

                    this.on("queuecomplete", function () {
                        setTimeout(function () {
                            myDropzone.options.autoProcessQueue = false;
                            myDropzone.removeAllFiles(true);
                        }, 3000);
                    });
                },
                success: function (file, response) {
                    file.previewElement.classList.add("dz-success");
                },
                error: function (file, response) {
                    file.previewElement.classList.add("dz-error");
                }
            });

            $('#btnSubmit').click(function () {
                myDropzone.processQueue();
            });
        });
    </script>
    
}